{% extends 'base.html' %}

{% block title %}{{ user.full_name }}{% endblock %}}

{% block content %}

<!-- TODO: No need to put empty line between each html line -->
<!-- TODO: However you can use it to separate visually lines of related html in block -->
<div class="row">

    <div class="col-sm-10 col-12">

        <h2 class="mt-4">Todos</h2>

        <ul>
            {% for todo in user.todo %}

            <li>
                {{ todo.title }}
            </li>
            <li>{{ todo.due_date }}</li>

            <form>
                {{form.hidden_tag()}}
                <button class="btn btn-primary" formmethod="GET" formaction="/todo/{{ todo.id }}/update">
                    Edit
                </button>
                <button class="btn btn-danger" formmethod="POST" formaction="/todo/{{ todo.id }}/delete">
                    Delete
                </button>
            </form>

            {% endfor %}
        </ul>

        <p>
            <a href="/users/{{ user.username }}/todo/new" class="btn btn-primary">
                Add todo
            </a>
        </p>

        <form>
            <button class="btn btn-danger btn-sm" formaction="/users/{{ user.username }}/delete" formmethod="POST">
                Delete User
            </button>
        </form>

    </div>
</div>

{% endblock %}